<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{^username}}
<form action="login" method="post">
    <input type="text" placeholder="Enter your name" name="username" size="50"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
<form action="add-message" method="post">
    <input type="text" placeholder="Enter your message" name="text" size="50"/>
    <button type="submit">Submit</button>
</form>
{{/username}}<br>

{{#username}}<br>
Messages by {{.}}:<br>
{{#messages}}
{{id}}. {{text}}
<form action="edit-message" method="post" style="display: inline;">
    <input type="hidden"  name="id" value="{{id}}"/>
    <input type="text" placeholder="Edit Message" name="text"/>
    <button type="submit">Edit</button>
</form>
<form action="delete-message" method="post" style="display: inline;">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete</button>
</form><br>
{{/messages}}
{{/username}}
</body>
</html>